*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
# IMPORTANTE: google-services.json contiene claves del proyecto Firebase
app/google-services.json
